/* Global styles */
@font-face {
    font-family: "Hoppins";
    src: src("../fonts/Poppins-Medium.ttf"), 
    src("../fonts/Poppins-Light.ttf"),
        src("../fonts/Poppins-Thin.ttf"),
        src("../fonts/Poppins-Bold.ttf"),
        src("../fonts/Poppins-Black.ttf");
}
@font-face {
    font-family: "Grand-Hotel";
    src: url("../fonts/GrandHotel-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: src("../fonts/Roboto-thin.ttf"),
    src("../fonts/Roboto-Light.ttf"),
    src("../fonts/Roboto-Black.ttf");
}
:root{
    --white-100: #fff;
    --white-90: #eee;
    --white-80: #ddd;
    --white-70: #ccc;
    --white-60: #bbb;
    --white-50: #aaa;
    --black-40: #444;
    --black-30: #2f2f2f;
    --black-20: #1a1a1a;
    --black-10: #0e0e0e;
    --red : #fc2547;
    --orange : #ff5a00;
    --gradient-image-to-right: linear-gradient(to right,#f32846 40%, #f8600e 100%);
    --gradient-image-to-left: linear-gradient(to left,#f32846 40%, #f8600e 100%);
    --gradient-image-to-top: linear-gradient(to top,#f32846 40%, #f8600e 100%);
    --main-font: "Hoppins", sans-serif; 
    --grand-font: "Grand-Hotel", sans-serif; 
    --roboto-font: "Roboto", sans-serif; 
}
/* Scroll bar Styles  */ 
/* - Chrome and Safari */ 
::-webkit-scrollbar {
    width: 10px; 
}
::-webkit-scrollbar-track{
    background-color: var(--black-20);
}
::-webkit-scrollbar-thumb{
    background: var(--gradient-image-to-top);
    min-height: 25%;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--gradient-image-to-top);
}
/* - Firefox */ 
html{
    scrollbar-color: var(--red) var(--black-20); 
    scrollbar-gutter: stable;
    scrollbar-width: 10px;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: var(--main-font);
    color: var(--white-100);
}
main{
    position: relative;
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--white-100);
}
svg{
    width: .8rem;
}
.text-grand{
    font-family: var(--grand-font);
}
.btn-magic{
    background-image: var(--gradient-image-to-left);
    color: var(--white-100);
    font-weight: 900;
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--roboto-font);
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.btn-magic::before{
    background: var(--gradient-image-to-right);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    transition: .5s ease-in-out;
    content: "";
    z-index: -1;
}
.btn-magic:hover::before{
    opacity: 0;
}
.container{
    width: 1150px;
    margin: auto;
}
svg linearGradient .stop-1{
    stop-color: var(--red);
}
svg linearGradient .stop-2{
    stop-color: var(--orange);
}

/* Nav styles */
nav{
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease-in-out .3s;
}
.fixed-nav{
    /* position: fixed; */
    left: 0;
    top: -150px;
    width: 100vw;
    opacity: 0;
    /* overflow: visible; */
    z-index: 3;
    box-sizing: border-box; 
    background: rgb(28 28 28 / 87%);
    
}
nav .container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 0 1 35%;
    justify-content: space-between;
    align-items: center;
}
nav .page-links a{
    font-size: 1.2rem;
    letter-spacing: .05rem;
}
.account-links{
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 1 12%;
    justify-content: center;
}
.account-links .cart {
    margin-inline-end: 1.3rem;
    position: relative;
}
.account-links .cart .badge{
    position: absolute;
    background: var(--red);
    color: var(--white-100);
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: .8rem;
    top: -1.3rem;
    left: 0.8rem;
}
.account-links .account  {
    position: relative;
}
.account-links .account > svg, .account-links .cart > svg{
    cursor: pointer;;
}
.account-links .account:hover ul {
    opacity: 1;
    visibility: visible;
}
.account-links .account ul, .account-links .cart-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: revert-layer;
    top: 2rem;
    right: -2rem;    
    width: 16vw;
    opacity: 0;
    transition: all ease-in-out .5s;
    visibility: hidden;
}
.account-links .account ul li{
    width: 100%;
}
.account-links .account ul a{
    background-color: var(--black-20);
    padding: 1rem;
    font-size: 1.1rem;
    font-family: var(--roboto-font);
    font-weight: 300;
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
    transition: all ease-in-out .5s;
    position: relative;
}
.account-links .account ul a::before{
   content: "";
   background-image: var(--gradient-image-to-right);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: -1;
   box-sizing: border-box;
   border-block-start: thin solid var(--black-10);
}
.account-links .account ul li:first-of-type a::before{
    border-block-start: none;
}
.account-links .account ul a:hover {
    background-color: transparent;
}
.account-links .account ul a:hover svg{
    margin-inline-end: .4rem;
}
.account-links .account ul svg {
    fill: var(--white-100);
    width: 1rem;
    display: inline;
    height: 1rem;
    transition: all ease-in-out .4s;
}
.account-links svg{
    fill: var(--white-100);
    width: 1.2rem;
}
.account-links .cart {
    position: relative;
}
.account-links .cart .cart-list {
    display: flex;
    flex-direction: column;
    background-color: var(--black-20);
    width: 23vw;
    padding: 2rem 1.5rem 3rem;
}
.account-links .cart ul {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 15vw;
    width: 100%;
    justify-content: flex-start;
    font-family: var(--roboto-font);
}
.account-links .cart ul::-webkit-scrollbar {
    width: .1rem;
}
.account-links .cart ul::-webkit-scrollbar-track {
    background: var(--black-30);
    border-radius: .1rem;
}
.account-links .cart ul::-webkit-scrollbar-thumb {
    background:var(--gradient-image-to-right);
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.account-links .cart ul li{
    width: 100%;
    display: flex;
}
.account-links .cart ul li > a {
    width: 8vw;
    display: flex;
    align-items: center;
}
.account-links .cart ul img{
    max-width: 100%;
}
.account-links .cart ul li .details{
    padding: 1vw;
}
.account-links .cart .details .title a {
    display: block;
    font-weight: 400;
    font-size: .95rem;
    width: max-content;
    background-image: var(--gradient-image-to-right);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all ease-in-out .3s;
}
.account-links .cart .details .title a:hover{
    color: transparent;
}
.account-links .cart .details .price{
    margin-block: 0.5rem;
    font-size: .85rem;
    color: var(--white-50);
    font-family: var(--roboto-font);
    font-weight: 600;
}
.account-links .cart .details .new{
    margin-inline-end: .6rem;
}
.account-links .cart .details .old{
    text-decoration: line-through;
}
.account-links .cart ul li .quantity {
    display: flex;
    justify-content: space-between;
}
.account-links .cart ul li .quantity span{
    cursor: pointer;
}
.account-links .cart ul li .quantity input{
    display: inline;
    max-width: 1vw;
    background: transparent;
    border: solid thin var(--white-50);
    color: var(--white-80);
    border-radius: 0.3rem;
    text-align: center;
    padding: 0.25vw 0.5vw;
    margin-inline: 0.2rem;
}
.account-links .cart ul li .quantity svg{
    width: 1rem;
    fill: var(--white-100);
    cursor: pointer;
}
.account-links .cart .total{
    text-align: center;
    margin-block: 1rem;
    font-size: 2rem;
    font-family: var(--roboto-font);
    font-weight: 600;
    color: var(--white-90);
    border-top: 0.1rem solid rgb(225 225 225 / 1%);
    padding-block-start: 2rem;
}
.account-links .cart .checkout{
    text-align: center;
}
.account-links .cart:hover .cart-list {
    opacity: 1;
    visibility: visible;
}

/* Start Header */
header{
    background-image: url('../images/bg-1.jpg');
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
header aside {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
header aside ul {
    list-style: none;
    height: 30%;
    margin-block: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
}
header aside ul svg{
    fill: var(--white-100);
}
header .home{
    flex-grow: 1;
}
header .home .content {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
    font-size: .8rem;
    text-align: center;
    margin-block: 10vw 2rem;
}
header .home .content span, header .home .content p {
    color: var(--white-50);
}
header .home .content h1 {
    font-size: 3.5vw;
    width: 70%;
    font-weight: 100;
}
header .home .content p{
    font-size: .95vw;
    margin: 0;
}
header .home search{
    display: flex;
    justify-content: center;
    
}
header .home search form{
    display: flex;
    background-color: var(--black-30);
    width: 75%;
    padding: .5rem;
    border-radius: 3rem;
}
header .home search form label{
    display: flex;
    padding: 1rem;
}
header .home search form label svg{
    width: 1.2rem;
    fill: var(--white-50);
}
header .home search form input {
    background: transparent;
    border: none;
    color: var(--white-70);
    font-size: 1.1rem;
    flex-grow: 1;
}
header .home search form input:focus {
    outline: none;
}
header .home search form input::placeholder{
    color: var(--white-50)
}
header > img{
    position: absolute;
}
.mouse-move{
    /* transition: all ease-in-out .3s; */
}
header > img:nth-of-type(1){
    top: 14vw;
    left: 15vw;
    max-width: 11rem;
    animation: move 6s alternate infinite ease-out;
}
@keyframes move {
    0%{
        rotate: 0rad;
        translate: 0;
    }
    50%{
        rotate: .2rad;
        translate: -0.5rem -0.5rem;
    }
    100%{
        rotate: 0rad;
    }
}
header > img:nth-of-type(2){
    top: 11vw;
    right: -11vw;
    max-width: 22rem;
}
header > img:nth-of-type(3){
    bottom: 1vw;
    left: -0.7vw;
    max-width: 8rem;
}
header > img:nth-of-type(4){
    top: 11vw;
    right: 25vw;
    max-width: 4rem;
    animation: move 10s alternate infinite ease-out;
}
.food-option{
    background-image: url('../images/bg-2.jpg');
    display: flex;
    flex-direction: column;
}
.food-option .head, .food-option .gallery {
    display: flex;
    padding: 7vw 0 2vw 0;
}
.food-option .head > *{
    flex: 0 1 50%;
}
.food-option .head .text p{
    font-family: var(--roboto-font);
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0.03rem;
    background-image: var(--gradient-image-to-right);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.food-option .head .text h2{
    font-size: 4.5rem;
    padding-inline-end: 8rem;
    font-weight: 100;
    line-height: 100%;
    margin-block: 2rem;
}
.food-option .head .stats{
    display: flex;
    align-items: center;
}
.food-option .head .stats > *{
    flex: 0 1 33%;
    text-align: center;
}
.food-option .head .stats > * *{
    cursor: pointer;
}
.food-option .head svg{
    width: 1.8rem;
    height: 1.8rem;
    transition: all ease-in-out .25s;
}
.food-option .head .stats > div:hover svg{
    margin-block-start: -1.8rem;
    height: calc(1.8rem + 1.8rem);
}
.food-option .head svg .fa-primary{ 
    fill: var(--red);
}
.food-option .head svg .fa-secondary{ 
    fill: var(--orange);
}
.food-option .head .stats span{
    display: block;
    margin-block: 0.8rem;
    color: var(--white-50);
}
.food-option .head .stats span.digit{
    font-weight: 900;
    font-family: var(--roboto-font);
    font-weight: 400;
    font-size: 1.5rem;
}
.food-option .head .stats span.title{
    letter-spacing: 0.03rem;
}

.food-option .gallery{
    flex-flow: row wrap;
}
.food-option article{
    flex: 0 1 30%;
    background-color: var(--black-10);
    margin: 1.25%;
    position: relative;
    overflow: hidden;
}
article .preperation-time{
    position: absolute;
    background-image: var(--gradient-image-to-right);
    right: -1.8rem;
    top: -1.8rem;
    padding: 2.1rem 2rem 0.9rem 1.5rem;
    border-radius: 50%;
    text-align: center;
    font-family: var(--roboto-font);
    font-size: .8rem;
}
article .preperation-time .digit{
    font-size: 1.1rem;
    font-weight: 900;
    line-height: .95;
}
article img{
    width: 100%;
}
article .details{
    padding: 1.2rem;
}
.row{
    display: flex;
    justify-content: space-between;
}
article .details .title{
    margin-block: 0;
}
article .details .rating svg{
    width: 1.1rem;
    fill: #f7db8b;
}
article .description {
    margin-block: 0.8rem .5rem;
    height: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.browse-more {
    text-align: center;
    display: flex;
    justify-content: center;
}
.browse-more a {
    width: 35%;
    margin: 3rem auto 6rem;
}
.testimonial{
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-color: var(--black-10);
}
.testimonial::before, .testimonial .banner{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.testimonial::before{
    background-color: rgb(31 30 30 / 90%);
    z-index: 1;
}
.testimonial .banner{
    object-fit: cover;
    object-position: top;
}
.testimonial ul{
    z-index: 2;
    position: relative;
    list-style-type: none;
    display: flex;
    margin: 0;
    justify-content: center;
}
.testimonial .slider{
    display: block;
    margin: auto;
    width: 360px;
    overflow: auto;
}
.testimonial .slider .content {
    padding-block-start: 10vw;
    font-family: var(--roboto-font);
    font-weight: 400;
    transform: translateX(40px);
    transition: all ease-in-out .5s;
    /* background: #18181869; */
}
.testimonial .slider .content li {
    text-align: center;
    width: 150px;
    overflow: visible;
    transition: all ease-in-out .5s;
}
.testimonial .slider .content li *{
    transition: all ease-in-out .5s;
}
.testimonial .slider .content li .avatar{
    height: 8vw;
    display: flex;
    align-items: center;
}
.testimonial .slider .content li .name{
    background-clip: text;
    font-size: 1.5rem;
    -webkit-background-clip: text;
    background-image: var(--gradient-image-to-right);
    color: transparent;
    margin-block-end: 0.5vw;
    width: max-content;
}
.testimonial .slider .content li .city{
    font-size: .85rem;
    font-weight: 300;
    letter-spacing: .03rem;
}
.testimonial .slider .content li img {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
}
.slider .content li.show {
    width: 8vw;
}
.slider .content li.show >:not(.avatar){
    opacity: 0;
}
.testimonial .slider .content li.active img {
    width: 8vw;
    height: 8vw;
}
.testimonial .slider .navigation{
    padding-block: 1.8vw 7vw;
}
.testimonial .slider .navigation li{
    width: 0.7rem;
    height: 0.7rem;
    border: 0.13rem solid var(--white-100);
    border-radius: 50%;
    margin-inline-end: 0.5rem;
    cursor: pointer;
}
.testimonial .slider .navigation li.active{
    background-color: var(--white-100);
}
.testimonial .feedback li{
    color: var(--white-70);
    letter-spacing: .01rem;
    max-width: 46vw;
    line-height: 1.5;
    display: none;
    text-align: center;
}
.download-app{
    display: flex;
    flex-direction: column;
    background-image: url('../images/bg-2.jpg');
    padding-block: 6rem;
}
.download-app *{
    text-align: center;
}
.download-app > p:first-child{
    background-image: var(--gradient-image-to-right);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.3rem;
    font-family: var(--roboto-font);
    font-weight: 300;
}
.download-app > p:nth-of-type(2){
    font-size: 4rem;
    width: 33rem;
    margin: auto;
    line-height: 4rem;
}
.download-app .apps{
    display: flex;
    margin: auto;
    gap: 12vw;
    margin-block-start: 10vw;
}
.download-app .apps img{
    width: 12rem;
}
.download-app .apps p{
    font-size: 1.3rem;
    font-family: var(--roboto-font);
    font-weight: 300;
    margin-block-start: 3rem;
    color: var(--white-50);
}
.about-us{
    background-image: url('../images/bg-1.jpg');
    padding: 6rem 8rem;
    margin-block-end: 16rem;
}
.about-us .row > div{
    flex: 0 1 50%;
}
.about-us .row{
    margin-block-end: 8rem;
}
.about-us .row > div:first-child p:first-child{
    font-size: 1.3rem;
    font-family: var(--roboto-font);
    font-weight: 300;
    background-image: var(--gradient-image-to-right);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.about-us .row > div:first-child p:last-child{
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin-block: 2rem;
    padding-inline-end: 6rem;
}
.about-us .row > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-us .row > div:last-child p{
    font-family: var(--roboto-font);
    color: var(--white-50);
    line-height: 1.6;
}
.about-us .icons{
    display: flex;
    padding-inline: 2rem;
}
.about-us .icons > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 33%;
    color: var(--white-60);
    cursor: pointer;
}
.about-us .icons svg{
    fill: var(--white-90);
    width: 5.5rem;
    height: 5.5rem;
}
.about-us .icons div.active svg{
    fill: url(#gradient);
    animation: icon-pulse .4s infinite alternate ease-in-out;
}
@keyframes icon-pulse {
    0%{
        scale: 1;
    }   
    100%{
        scale: 1.2;
    }
}
.about-us .icons .title{
    padding-inline: 5rem;
    font-size: 1.3rem;
    text-align: center;
    margin-block: 2rem;
}
footer {
    background-image: url(../images/bg-2.jpg);
    padding: 6.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: -1;
}
footer .container{
    display: flex;
    gap: 2vw;
    flex-direction: column; 
}
footer .social-media{
    display: flex;
    gap: 2rem; 
}
footer .social-media, footer .copyright{
    display: flex;
    justify-content: center;
    gap: 3vw;
}
footer .social-media svg{
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--white-90);
}
footer .copyright{
    font-family: var(--roboto-font);
    color: var(--white-90);
    font-size: .9rem;
}
.scroll-up{
    background: var(--gradient-image-to-left);
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}
.scroll-up::before{
    background: var(--gradient-image-to-right);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: .5s ease-in-out;
    content: "";
}
.scroll-up:hover::before {
    opacity: 0;
}
.scroll-up svg{
    fill: var(--white-100);
    z-index: 1;
}
.icon-motor{
    background-color: red;
    color: white;
    font-size: 25px;
}
.icon-motor:before{
    content: "\f618";
}