/* Global styles */
@font-face {
    font-family: "Hoppins";
    src: src("../fonts/Poppins-Medium.ttf"), 
    src("../fonts/Poppins-Light.ttf"),
        src("../fonts/Poppins-Thin.ttf"),
        src("../fonts/Poppins-Bold.ttf"),
        src("../fonts/Poppins-Black.ttf");
}
@font-face {
    font-family: "Grand-Hotel";
    src: url("../fonts/GrandHotel-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: src("../fonts/Roboto-thin.ttf"),
    src("../fonts/Roboto-Light.ttf"),
    src("../fonts/Roboto-Black.ttf");
}
:root{
    --white-100: #fff;
    --white-90: #eee;
    --white-80: #ddd;
    --white-70: #ccc;
    --white-60: #bbb;
    --white-50: #aaa;
    --black-40: #444;
    --black-30: #2f2f2f;
    --black-20: #1a1a1a;
    --black-10: #0e0e0e;
    --red : #fc2547;
    --orange : #ff5a00;
    --gradient-image-to-right: linear-gradient(to right,#f32846 40%, #f8600e 100%);
    --gradient-image-to-left: linear-gradient(to left,#f32846 40%, #f8600e 100%);
    --gradient-image-to-top: linear-gradient(to top,#f32846 40%, #f8600e 100%);
    --main-font: "Hoppins", sans-serif; 
    --grand-font: "Grand-Hotel", sans-serif; 
    --roboto-font: "Roboto", sans-serif; 
}
/* Mouse Follow Styles*/
.mouse-follow{
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    background-color: transparent;
    block-size: 1.5rem;
    inline-size: 1.5rem;
    border-radius: 50%;
    border: .15rem solid var(--white-100);
    z-index: 3;
    transition: all ease .1s;
    opacity: 0;
} 
/* Loader Styles  */ 
.loader{
    position: fixed;
    inline-size: 100vw;
    block-size: 100vh;
    z-index: 4;
    background-color: var(--black-20);
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader .spinner{
    position: relative;
    inline-size: 5rem;
    block-size: 5rem;
}
.loader span{
    position: absolute;
    border: .1rem solid var(--white-100);
    border-radius: 50%;
    background-color: transparent;
    block-size: 23%;
    inline-size: 23%;
    
    transition: all ease-in-out .3s;
}
.loader span:nth-of-type(1){
    animation: loader-first 2.1s infinite;
}
.loader span:nth-of-type(2){
    animation: loader-first 2.1s .7s infinite;
}
.loader span:nth-of-type(3){
    animation: loader-first 2.1s 1.4s infinite;
}
.loader span:nth-of-type(4){
    animation: loader-active 2.1s  infinite;
    background: var(--gradient-image-to-left);
    border: 0;
}
@keyframes loader-first {
    0%{
        inset-block-start: 0%;
        inset-inline-start: 34%;
    }
    25%{
        inset-block-start: 37%;
        inset-inline-start: 0%;
    }
    50%{
        inset-block-start: 74%;
        inset-inline-start: 37%;
    }
    75%{
        inset-block-start: 37%;
        inset-inline-start: 74%;
    }
    100%{
        inset-block-start: 0%;
        inset-inline-start: 34%;
    }
}
@keyframes loader-active {
    0%{
        inset-block-start: 0%;
        inset-inline-start: 34%;
    }
    25%{
        inset-block-start: 37%;
        inset-inline-start: 74%;
    }
    50%{
        inset-block-start: 74%;
        inset-inline-start: 37%;
    }
    75%{
        inset-block-start: 37%;
        inset-inline-start: 0%;
    }
    100%{
        inset-block-start: 0%;
        inset-inline-start: 34%;
    }
}
/* Scroll bar Styles  */ 
/* - Firefox */ 
html{
    /* scrollbar-gutter: stable;
    scrollbar-width: 10px; */
    scroll-behavior: smooth;
}
/* - Chrome and Safari */ 
::-webkit-scrollbar {
    inline-size: 10px; 
}
::-webkit-scrollbar-track{
    background-color: var(--black-20);
}
::-webkit-scrollbar-thumb{
    background: var(--gradient-image-to-top);
    min-height: 25%;
}
/* ::-webkit-scrollbar-thumb:hover{
    background: var(--gradient-image-to-top);
} */
/* - Global Styles */ 
body{
    margin: 0;
    font-family: var(--main-font);
    color: var(--white-100);
}
main{
    position: relative;
    inline-size: 100%;
}
a{
    text-decoration: none;
    color: var(--white-100);
}
svg{
    inline-size: .8rem;
}
.text-grand{
    font-family: var(--grand-font);
}
.btn-magic{
    background-image: var(--gradient-image-to-left);
    color: var(--white-100);
    font-weight: 900;
    border: none;
    border-radius: 3rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--roboto-font);
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.btn-magic::before{
    background: var(--gradient-image-to-right);
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%;
    border-radius: 3rem;
    transition: .5s ease-in-out;
    content: "";
    z-index: -1;
}
.btn-magic:hover::before{
    opacity: 0;
}
.container{
    max-inline-size: 1150px;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-between;
}
svg linearGradient .stop-1{
    stop-color: var(--red);
}
svg linearGradient .stop-2{
    stop-color: var(--orange);
}

/* Nav styles */
nav{
    inline-size: 100%;
    block-size: fit-content;
   
}
.fixed-nav{
    position: fixed;
    inset-inline-start: 0;
    z-index: 3;
    background: rgb(28 28 28 / 87%);
    animation: move-nav 1s ease-in-out;
}
@keyframes move-nav{
    0%{
        inset-block-start: -120px;
    }
    100%{
        inset-block-start: 0;
    }
}
nav .container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .page-links{
    gap: 3rem;
}
nav .page-links a{
    font-size: 1.2rem;
    letter-spacing: .05rem;
    position: relative;
}
header a:hover body:has(.mouse-follow){
   display: none;
}
nav .page-links a::before{
    border-block-end: 0.15rem solid;
    border-image: var(--gradient-image-to-right) 1;
    inline-size: 0%;
    position: absolute;
    inset-block-end: -0.5rem;
    inset-inline-start: 0;
    content: "";
    transition: all ease-in-out .3s;
}
nav .page-links a.active::before, nav .page-links a:hover::before{
    inline-size: 100%;
}
.side-links{
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 1 12%;
    justify-content: center;
    gap: 1.3rem;
}
.side-links .cart {

    position: relative;
}
.side-links .cart .badge{
    position: absolute;
    background: var(--red);
    color: var(--white-100);
    border-radius: 50%;
    inline-size: 1.2rem;
    block-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: .8rem;
    inset-block-start: -1.3rem;
    inset-inline-start: 0.8rem;
}
.side-links .account  {
    position: relative;
}
.side-links .account > svg, .side-links .cart > svg{
    cursor: pointer;;
}
.side-links .account:hover ul {
    opacity: 1;
    visibility: visible;
}
.side-links .account ul, .side-links .cart-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    inset-block-start: 2rem;
    inset-inline-end: -2rem;    
    inline-size: 16vw;
    opacity: 0;
    transition: all ease-in-out .5s;
    visibility: hidden;
    z-index: 2;
}
.side-links .account ul li{
    inline-size: 100%;
}
.side-links .account ul a{
    background-color: var(--black-20);
    padding: 1rem;
    font-size: 1.1rem;
    font-family: var(--roboto-font);
    font-weight: 300;
    display: flex;
    justify-content: start;
    inline-size: 100%;
    gap: 1rem;
    box-sizing: border-box;
    transition: all ease-in-out .5s;
    position: relative;
}
.side-links .account ul a::before{
   content: "";
   background-image: var(--gradient-image-to-right);
   position: absolute;
   inline-size: 100%;
   block-size: 100%;
   inset-block-start: 0;
   inset-inline-start: 0;
   z-index: -1;
   box-sizing: border-box;
   border-block-start: thin solid var(--black-10);
}
.side-links .account ul li:first-of-type a::before{
    border-block-start: none;
}
.side-links .account ul a:hover {
    background-color: transparent;
}
.side-links .account ul a:hover svg{
    margin-inline-end: .4rem;
}
.side-links .account ul svg {
    fill: var(--white-100);
    inline-size: 1rem;
    display: inline;
    block-size: 1rem;
    transition: all ease-in-out .4s;
}
.side-links svg{
    fill: var(--white-100);
    inline-size: 1.2rem;
}
.side-links .cart .cart-list {
    display: flex;
    flex-direction: column;
    background-color: var(--black-20);
    inline-size: 23vw;
    padding: 2rem 1.5rem 3rem;
    z-index: 2;
}
.side-links .cart ul {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 15vw;
    inline-size: 100%;
    justify-content: flex-start;
    font-family: var(--roboto-font);
}
.side-links .cart ul::-webkit-scrollbar {
    inline-size: .1rem;
}
.side-links .cart ul::-webkit-scrollbar-track {
    background: var(--black-30);
    border-radius: .1rem;
}
.side-links .cart ul::-webkit-scrollbar-thumb {
    background:var(--gradient-image-to-right);
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.side-links .cart ul li{
    inline-size: 100%;
    display: flex;
}
.side-links .cart ul li > a {
    inline-size: 8vw;
    display: flex;
    align-items: center;
}
.side-links .cart ul img{
    max-width: 100%;
}
.side-links .cart ul li .details{
    padding: 1vw;
}
.side-links .cart .details .title a {
    display: block;
    font-weight: 400;
    font-size: .95rem;
    inline-size: max-content;
    background-image: var(--gradient-image-to-right);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all ease-in-out .3s;
}
.side-links .cart .details .title a:hover{
    color: transparent;
}
.side-links .cart .details .price{
    margin-block: 0.5rem;
    font-size: .85rem;
    color: var(--white-50);
    font-family: var(--roboto-font);
    font-weight: 600;
}
.side-links .cart .details .new{
    margin-inline-end: .6rem;
}
.side-links .cart .details .old{
    text-decoration: line-through;
}
.side-links .cart ul li .quantity {
    display: flex;
    justify-content: space-between;
}
.side-links .cart ul li .quantity span{
    cursor: pointer;
}
.side-links .cart ul li .quantity input{
    display: inline;
    max-width: 1vw;
    background: transparent;
    border: solid thin var(--white-50);
    color: var(--white-80);
    border-radius: 0.3rem;
    text-align: center;
    padding: 0.25vw 0.5vw;
    margin-inline: 0.2rem;
}
.side-links .cart ul li .quantity svg{
    inline-size: 1rem;
    fill: var(--white-100);
    cursor: pointer;
}
.side-links .cart .total{
    text-align: center;
    margin-block: 1rem;
    font-size: 2rem;
    font-family: var(--roboto-font);
    font-weight: 600;
    color: var(--white-90);
    border-block-start: 0.1rem solid rgb(225 225 225 / 1%);
    padding-block-start: 2rem;
}
.side-links .cart .checkout{
    text-align: center;
}
.side-links .cart:hover .cart-list {
    opacity: 1;
    visibility: visible;
}
.side-links .phone-nav{
    display: none;
}

/* Start Header */
header{
    background-image: url('../images/bg-1.jpg');
    block-size: 100vh;
    position: relative;
    overflow: hidden;
}
header aside {
    display: flex;
    flex-direction: column;
    inline-size: 10%;
    align-items: center;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
}
header aside ul {
    list-style: none;
    block-size: 30%;
    margin-block: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
}
header aside ul svg{
    fill: var(--white-100);
}
header .home {
    position: absolute;
    inline-size: 100%;
    inset-block-start: 10vh;
    block-size: 90vh;
}
header .home .content {
    block-size: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inline-size: 40%;
    margin: auto;
    text-align: center;
    margin-block: 3vw 2rem;
}
header .home .content span, header .home .content p {
    color: var(--white-50);
}
.magic-text {
    position: relative;
    inline-size: 100%;
    block-size: calc(2* 6rem);
}
header .home .content h1 {
    font-size: 4.7rem;
    font-weight: 100;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
    line-height: 5rem;
}
header .home .content p {
    margin-block-start: 5rem;
    line-height: 2rem;
}
.home search{
    display: flex;
    justify-content: center; 
}
.phone-search{
    display: none;
}
search form{
    display: flex;
    background-color: var(--black-30);
    inline-size: 75%;
    padding: .5rem;
    border-radius: 3rem;
}
search form label{
    display: flex;
    padding: 1rem;
}
search form label svg{
    inline-size: 1.2rem;
    fill: var(--white-50);
}
search form .input-holder {
    flex-grow: 1;
    display: flex;
}
search form input {
    background: transparent;
    border: none;
    color: var(--white-70);
    font-size: 1.1rem;
    flex-grow: 1;
}
search form input:focus {
    outline: none;
}
search form input::placeholder{
    color: var(--white-50)
}
header > img{
    position: absolute;
}
.mouse-move{
    /* transition: all ease-in-out .3s; */
}
header > img:nth-of-type(1) {
    inset-block-start: 28%;
    inset-inline-start: 14%;
    max-inline-size: 14%;
    animation: move 6s alternate infinite ease-out;
    transition: all ease-in-out .3s;
}
@keyframes move {
    0%{
        rotate: 0rad;
        translate: 0;
    }
    50%{
        rotate: .2rad;
        translate: -0.5rem -0.5rem;
    }
    100%{
        rotate: 0rad;
    }
}
header > img:nth-of-type(2) {
    inset-block-end: 16%;
    inset-inline-end: -13%;
    max-width: 30%;
}
header > img:nth-of-type(3){
    inset-block-end: 3%;
    inset-inline-start: -0.08rem;
    max-width: 7rem;
}
header > img:nth-of-type(4) {
    inset-block-start: 25%;
    inset-inline-end: 24%;
    max-width: 5%;
    animation: move 10s alternate infinite ease-out;
}
.food-option{
    background-image: url('../images/bg-2.jpg');
    display: flex;
    flex-direction: column;
}
.food-option .head, .food-option .gallery {
    display: flex;
    padding: 7vw 0 2vw 0;
}
.food-option .head > *{
    flex: 0 1 50%;
}
.food-option .head .text p{
    font-family: var(--roboto-font);
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0.03rem;
    background-image: var(--gradient-image-to-right);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.food-option .head .text h2{
    font-size: 4.5rem;
    padding-inline-end: 8rem;
    font-weight: 100;
    line-height: 100%;
    margin-block: 2rem;
}
.food-option .head .stats{
    display: flex;
    align-items: center;
}
.food-option .head .stats > *{
    flex: 0 1 33%;
    text-align: center;
}
.food-option .head .stats > * *{
    cursor: pointer;
}
.food-option .head svg{
    inline-size: 1.8rem;
    block-size: 1.8rem;
    transition: all ease-in-out .25s;
}
.food-option .head .stats > div:hover svg{
    margin-block-start: -1.8rem;
    block-size: calc(1.8rem + 1.8rem);
}
.food-option .head svg .fa-primary{ 
    fill: var(--red);
}
.food-option .head svg .fa-secondary{ 
    fill: var(--orange);
}
.food-option .head .stats span{
    display: block;
    margin-block: 0.8rem;
    color: var(--white-50);
}
.food-option .head .stats span.digit{
    font-weight: 900;
    font-family: var(--roboto-font);
    font-weight: 400;
    font-size: 1.5rem;
}
.food-option .head .stats span.title{
    letter-spacing: 0.03rem;
}
.food-option .gallery {
    flex-flow: row wrap;
    justify-content: center;
}
.food-option .gallery > a{
    flex: 0 1 30%;
    background-color: var(--black-10);
    margin: 1.25%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    block-size: fit-content;
}
.food-option .gallery > a:hover .title{
    color: transparent;
}
.food-option .gallery > a:hover img{
   scale: 1.1;
}
.gallery > a .preperation-time{
    position: absolute;
    background-image: var(--gradient-image-to-right);
    inset-inline-end: -1.8rem;
    inset-block-start: -1.8rem;
    padding: 2.1rem 2rem 0.9rem 1.5rem;
    border-radius: 50%;
    text-align: center;
    font-family: var(--roboto-font);
    font-size: .8rem;
    z-index: 1;
}
.gallery > a .preperation-time .digit{
    font-size: 1.1rem;
    font-weight: 900;
    line-height: .95;
}
.food-option .gallery > a .title{
    background-image: var(--gradient-image-to-right);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all ease-in-out .3s;
}
.gallery > a .img-holder{
    inline-size: 100%;
    block-size: 72%;
    overflow: hidden;
}
.gallery > a img{
    transition: all ease-in-out .3s;
    inline-size: 100%;
}
.gallery > a .details{
    padding: 1.2rem;
}
.gallery > a .details .title{
    margin-block: 0;
}
.gallery > a .details .rating svg{
    inline-size: 1.1rem;
    fill: #f7db8b;
}
.gallery > a .description {
    margin-block: 0.8rem .5rem;
    block-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.browse-more {
    text-align: center;
    display: flex;
    justify-content: center;
}
.browse-more a {
    inline-size: 60%;
    margin: 6rem auto;
}
/* .testimonial{
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-color: var(--black-10);
}
.testimonial::before, .testimonial .banner{
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
}
.testimonial::before{
    background-color: rgb(31 30 30 / 90%);
    z-index: 1;
}
.testimonial .banner{
    object-fit: cover;
    object-position: top;
}
.testimonial ul{
    z-index: 2;
    position: relative;
    list-style-type: none;
    display: flex;
    margin: 0;
    justify-content: center;
}
.testimonial .slider{
    display: block;
    margin: auto;
    inline-size: 360px;
    overflow: auto;
}
.testimonial .slider .content {
    padding-block-start: 10vw;
    font-family: var(--roboto-font);
    font-weight: 400;
    transform: translateX(40px);
    transition: all ease-in-out .5s;
    /* background: #18181869; 
}
.testimonial .slider .content li {
    text-align: center;
    inline-size: 150px;
    overflow: visible;
    transition: all ease-in-out .5s;
}
.testimonial .slider .content li *{
    transition: all ease-in-out .5s;
}
.testimonial .slider .content li .avatar{
    block-size: 8vw;
    display: flex;
    align-items: center;
}
.testimonial .slider .content li .name{
    background-clip: text;
    font-size: 1.5rem;
    -webkit-background-clip: text;
    background-image: var(--gradient-image-to-right);
    color: transparent;
    margin-block-end: 0.5vw;
    inline-size: max-content;
}
.testimonial .slider .content li .city{
    font-size: .85rem;
    font-weight: 300;
    letter-spacing: .03rem;
}
.testimonial .slider .content li img {
    border-radius: 50%;
    inline-size: 5vw;
    block-size: 5vw;
    cursor: pointer;
}
.slider .content li.show {
    inline-size: 8vw;
}
.slider .content li.show >:not(.avatar){
    opacity: 0;
}
.testimonial .slider .content li.active img {
    inline-size: 8vw;
    block-size: 8vw;
}
.testimonial .slider .navigation{
    padding-block: 1.8vw 7vw;
}
.testimonial .slider .navigation li{
    inline-size: 0.7rem;
    block-size: 0.7rem;
    border: 0.13rem solid var(--white-100);
    border-radius: 50%;
    margin-inline-end: 0.5rem;
    cursor: pointer;
}
.testimonial .slider .navigation li.active{
    background-color: var(--white-100);
}
.testimonial .feedback li{
    color: var(--white-70);
    letter-spacing: .01rem;
    max-width: 46vw;
    line-height: 1.5;
    display: none;
    text-align: center;
} */
.download-app {
    display: flex;
    flex-direction: column;
    background-image: url('../images/bg-2.jpg');
    padding-block-end: 6rem;
}
.download-app *{
    text-align: center;
}
.download-app > p:first-child{
    background-image: var(--gradient-image-to-right);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.3rem;
    font-family: var(--roboto-font);
    font-weight: 300;
}
.download-app > p:nth-of-type(2) {
    font-size: 4rem;
    inline-size: 42%;
    margin: auto;
    line-height: 4rem;
}
.download-app .apps{
    display: flex;
    margin: auto;
    gap: 12vw;
    margin-block-start: 11rem;
}
.download-app .apps img{
    inline-size: 12rem;
}
.download-app .apps p{
    font-size: 1.3rem;
    font-family: var(--roboto-font);
    font-weight: 300;
    margin-block-start: 3rem;
    color: var(--white-50);
}
.about-us{
    background-image: url('../images/bg-1.jpg');
    padding: 6rem 8rem;
    margin-block-end: 16rem;
}
.about-us .row > div{
    flex: 0 1 50%;
}
.about-us .row{
    margin-block-end: 8rem;
}
.about-us .row > div:first-child p:first-child{
    font-size: 1.3rem;
    font-family: var(--roboto-font);
    font-weight: 300;
    background-image: var(--gradient-image-to-right);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.about-us .row > div:first-child p:last-child{
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin-block: 2rem;
    padding-inline-end: 6rem;
}
.about-us .row > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-us .row > div:last-child p{
    font-family: var(--roboto-font);
    color: var(--white-50);
    line-height: 1.6;
}
.about-us .icons {
    display: flex;
    padding-inline: 2rem;
    inline-size: 100%;
    flex-wrap: wrap;
}
.about-us .icons > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 33%;
    color: var(--white-60);
    cursor: pointer;
}
.about-us .icons svg{
    fill: var(--white-90);
    inline-size: 5.5rem;
    block-size: 5.5rem;
}
.about-us .icons div.active svg{
    fill: url(#gradient);
    animation: icon-pulse .4s infinite alternate ease-in-out;
}
@keyframes icon-pulse {
    0%{
        scale: 1;
    }   
    100%{
        scale: 1.2;
    }
}
.about-us .icons .title{
    padding-inline: 5rem;
    font-size: 1.3rem;
    text-align: center;
    margin-block: 2rem;
}
footer {
    background-image: url(../images/bg-2.jpg);
    padding: 6.5rem;
    position: fixed;
    inset-block-end: 0;
    inline-size: 100%;
    box-sizing: border-box;
    z-index: -1;
}
footer .container{
    display: flex;
    gap: 2rem;
    flex-direction: column; 
}
footer .social-media{
    display: flex;
    gap: 2rem; 
}
footer .social-media, footer .copyright{
    display: flex;
    justify-content: center;
    gap: 3vw;
}
footer .social-media svg{
    inline-size: 1.3rem;
    block-size: 1.3rem;
    fill: var(--white-90);
}
footer .copyright{
    font-family: var(--roboto-font);
    color: var(--white-90);
    font-size: .9rem;
}
.scroll-up{
    background: var(--gradient-image-to-left);
    position: fixed;
    inset-block-end: 1.5vw;
    inset-inline-end: 1.5vw;
    block-size: 2.5rem;
    inline-size: 2.5rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}
.scroll-up::before{
    background: var(--gradient-image-to-right);
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%;
    border-radius: 50%;
    transition: .5s ease-in-out;
    content: "";
}
.scroll-up:hover::before {
    opacity: 0;
}
.scroll-up svg{
    fill: var(--white-100);
    z-index: 1;
}
.icon-motor{
    background-color: red;
    color: white;
    font-size: 25px;
}
.icon-motor:before{
    content: "\f618";
}

@media (max-width: 1200px){
    html{
        font-size: 80%;
    }
    .container {
        inline-size: 90%;
    }
    .magic-text {
        inline-size: 100%;
    }
    .side-links .account ul, .side-links .cart-list{
        inset-inline-end: -1rem;
    }
    .gallery > a .img-holder {
        block-size: 70%;
    }
    nav .container {
        padding: 1.3rem;
    }
    .gallery > a .details .rating svg {
        inline-size: 0.8rem;
    }
    .about-us {
        padding: 6rem 5rem;
    }
    .about-us .row {
        flex-direction: column;
        text-align: center;
    }
    .about-us .row > div:first-child p:last-child {
        padding-inline-end: 0;
    }
    .about-us .icons {
        padding-inline: 0;
    }
    .about-us .icons .title{
        padding-inline: 2rem;
    }
}

@media (max-width: 768px){
    html{
        font-size: 66%;
    }
    .side-links .account ul{
        inline-size: 12rem;
    }
    .side-links .account ul svg {
        inline-size: 1.5rem;
        block-size: 1.5rem;
    }
    .side-links .account ul a {
        padding: 1rem 1.1rem;
        font-size: 1.4rem;
    }
    .side-links .cart .cart-list {
        padding: 2rem 1.5rem 3rem;
        max-inline-size: 80vw;
        inline-size: 20rem;
        inset-inline-end: -5rem;
    }
    .side-links .cart ul {
        max-height: 20rem;
        gap: 1rem;
    }
    .side-links .cart ul li {
        align-items: stretch;
    }
    .side-links .cart ul li > a {
        inline-size: auto;
    }
    .side-links .cart ul li .options {
        display: flex;
        align-items: center;
        gap: .2rem;
    }
    .side-links .cart ul li .quantity svg {
        inline-size: 1.3rem;
    }
    .side-links .cart .details .title a {
        font-size: 1.3rem;
    }
    .side-links .cart .details .price {
        font-size: 1.2rem;
    }
    .side-links .cart ul li .quantity input {
        max-width: 2rem;
        padding: 0.1rem 0.2rem;
    }
    .side-links .cart ul li .quantity .options span {
        font-size: 2rem;
    }
    header > img:nth-of-type(1) {
        inset-block-start: 26%;
        inset-inline-start: 11%;
        max-inline-size: 20%;
    }
    header > img:nth-of-type(2) {
        inset-block-end: 15%;
    }
    header > img:nth-of-type(3) {
        inset-inline-start: -.1rem;
        max-width: 7rem;
        inset-block-end: 7%;
    }
    header > img:nth-of-type(4) {
        inset-block-start: 30%;
        inset-inline-end: 14%;
        max-width: 8%;
    }
    header .home .content {
        margin: 0 auto 5rem;
        font-size: 1.2rem;
    }
    header .home .content p {
        margin-block-start: 0;
        line-height: 2rem;
    }
    header .home .content {
        inline-size: 50%;
    }
    header .home .content .magic-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .home .content h1 {
        font-size: 3rem;
        inline-size: 50%;
        position: static;
    }
}

@media (max-width: 640px){
    html{
        font-size: 82%;
    }
    .scroll-up{
        display: none;
    }
    header > img:nth-of-type(1) {
        display: none;
    }
    nav .page-links {
        display: none;
    }
    .side-links .phone-nav{
        display: block;
    }
    .side-links .phone-nav .phone-links{
        display: none;
    }
    .side-links .phone-nav:hover .phone-links {
        background-image: url("../images/serve.jpg");
        background-size: cover;
        position: fixed;
        inset-block-start: 0;
        inset-inline-end: 0;
        inline-size: 100%;
        block-size: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    .side-links .phone-nav:hover .phone-links > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .side-links .phone-links .close{
        position: absolute;
        inset-block-start: 3rem;
        inset-inline-end: 4rem;
    }
    .side-links .phone-nav:hover .phone-links:has(.close:hover){
        display: none;
    }
    .side-links .phone-links .close svg{
        inline-size: 1.8rem;
        block-size: 1.8rem;
    }
    .side-links .phone-links .list{
        gap: 1.5rem;
    }
    .side-links .phone-links .list a {
        font-size: 1.6rem;
        font-weight: 900;
        display: block;
        scale: 1 1.2;
    }
    .side-links .phone-links .contact span {
        font-size: 1.2rem;
        letter-spacing: .1rem;
    }
    .side-links .phone-nav:hover .phone-links .social-media {
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }
    .side-links  .social-media svg {
        fill: var(--white-100);
        inline-size: 1.5rem;
        block-size: 1.5rem;
    }
    header aside {
        display: none;
    }
    header .home {
        block-size: 80vh;
    }
    header .home .content {
        inline-size: 75%;
        block-size: 100%;
    }
    header .home .content h1 {
        inline-size: 100%;   
    }
    header .home search {
        display: none;
    }
    .phone-search{
        display: flex;
    }
    search form {
        background-color: transparent;
        flex-wrap: wrap;
        inline-size: 100%;
        align-items: center;
        justify-content: center;
        margin-block: 8rem 6rem;
    }
    search form .input-holder{
        margin-block-end: 4rem;
        border-block-end: .1rem solid var(--white-100);
        inline-size: 100%;
    }
    search form input {
        color: var(--black-40);
        font-size: 1.2rem;
        flex: 1 0 50%;
        font-weight: 100;
        inline-size: 100%;
    }
    search form label {
        padding-inline-start: 0;
    }
    search .btn-magic {
        flex: 1 0 100%;
        padding: 1.7rem 1rem;
        font-size: 1.2rem;
    }
    header > img:nth-of-type(4) {
        inset-block-start: 11%;
        inset-inline-end: 16%;
        max-width: 10%;
        animation: move 5s alternate infinite ease-in-out;
    }
    @keyframes move {
        0%{
            rotate: 0rad;
            translate: 0;
        }
        50%{
            rotate: .3rad;
            translate: -0.5rem -0.5rem;
        }
        100%{
            rotate: 0rad;
        }
    }
    .food-option .head, .food-option .gallery, .download-app .apps, .food-option .head .stats, .about-us .icons, .row{
        flex-flow: column wrap;
        text-align: center;
        justify-content: center;
    }
    .food-option .head, .food-option .gallery, .download-app .apps, .food-option .head .stats {
        flex-flow: column wrap;
        text-align: center;
        gap: 3rem;
        align-items: center;
    }  
    .details .row{
        text-align: start;
    }
    .food-option .head .text h2 {
        padding-inline-end: 1rem;
        margin-inline-start: 1rem;
        margin-block: 4rem;
    }
    .browse-more a {
        inline-size: 60%;
        margin: 6rem auto;
    }
    .download-app > p:nth-of-type(2) {
        inline-size: 90%;
    }
    .food-option .head .stats > * {
        margin-block: 1rem;
    }
    .food-option .head svg {
        inline-size: 4rem;
        block-size: 4rem;
    }
    .food-option .gallery > a {
        inline-size: 98%;
        max-inline-size: 350px;
    }
    .download-app > p:first-child {
        margin-block-start: 0;
    }
    .download-app .apps img {
        inline-size: 72%;
        max-inline-size: 275px;
    }
    .download-app > p:nth-of-type(2) {
        font-size: 3rem;
    }
    .about-us {
        padding: 6rem 0;
    }
    .about-us .row {
        inline-size: 85%;
        margin: auto;
    }
    .about-us .row > div:first-child p:last-child{
        font-size: 3.5rem;
    }
    .about-us .icons {
        gap: 4rem;
        margin-block-start: 8rem;
    }
    .about-us {
        margin-block-end: 100svh;
    }
    footer {
        padding: 0;
        block-size: 100svh;
        display: flex;
    }
    footer .container {
        gap: 3rem;
    }
    footer .social-media, footer .copyright {
        justify-content: space-between;
        gap: inherit;
        width: 92%;
        margin: auto;
    }
    footer .social-media svg {
        inline-size: 100%;
    }
    footer .copyright {
        font-size: 1.3rem;
        line-height: 2.1rem;
        justify-content: center;
    }
    
}